<app-header></app-header>
<!-- Section - Contact Start -->
<section id="contact" class="bg-cover bg-gray bg-overlay-black-6">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 text-white">
              <h3 class="font-alt font-w-600 letter-spacing-2 text-uppercase title-xs-small title-extra-large-2">Get In Touch</h3>
              <p class="font-alt mb-0 mt-3 text-xs-large text-uppercase title-medium">Don't hesitate to contact us</p>
              <span class="bg-base-color d-inline-block mt-4 sep-line-thick-long"></span>
              
              <div class="mt-4 text-extra-large text-white">
                  <p>Give us a call or drop by anytime, we endeavour to answer all enquiries within 24 hours on business days.</p>
                  <span class="d-block">E: vanakkamalmere@gmail.com</span>
                  <span class="d-block mt-1">P: 000 000 0000</span>
              </div>
              <!-- //.mt-4 -->
          </div>
          <!-- //.col-lg-6 -->
          
          <div class="col-lg-6 mt-5 mt-lg-0">
              <form action="" method="post" id="form-contact">
                  <div class="form-group">
                      <span class="d-block font-alt letter-spacing-1 text-medium text-uppercase text-white">Your Name</span>
                      <input type="text" name="name" class="font-alt form-control mt-2 required" id="name" placeholder="">
                  </div>
                  <!-- //.form-group -->
                  
                  <div class="form-group">
                      <span class="d-block font-alt letter-spacing-1 text-medium text-uppercase text-white">Your Email</span>
                      <input type="email" name="email" class="font-alt form-control mt-2 required email" id="email" placeholder="">
                  </div>
                  <!-- //.form-group -->
                  
                  <div class="form-group">
                      <span class="d-block font-alt letter-spacing-1 text-medium text-uppercase text-white">Message</span>
                      <textarea name="message" class="font-alt form-control mt-2 required" id="message" rows="6" placeholder=""></textarea>
                  </div>
                  <!-- //.form-group -->
                  
                  <span class="d-block font-alt letter-spacing-1 text-small text-uppercase text-white">*Please complete all fields correctly</span>
                  <button type="submit" class="btn btn-shadow btn-base-color mt-4 text-uppercase" id="btn-form-contact">Send Message</button>
              </form>
          </div>
          <!-- //.col-lg-6 -->
      </div>
      <!-- //.row -->
  </div>
  <!-- //.container -->
</section>
<!-- //Section - Contact End -->

<app-footer></app-footer>