<app-header></app-header>

 <!-- Section - Gallery Start -->
 <section id="gallery" class="bg-white">
  <div class="container">
      <div class="row justify-content-center pb-5">
          <div class="col-lg-9 pb-lg-4 text-center">
              <h3 class="font-alt font-w-600 letter-spacing-2 text-uppercase title-xs-small title-extra-large-2">Our Gallery</h3>
              <p class="font-alt mb-0 mt-3 text-xs-large text-uppercase title-medium">We're all working together, that's the secret</p>
              <span class="bg-base-color d-inline-block mt-4 sep-line-thick-long"></span>
          </div>
          <!-- //.col-lg-9 -->
      </div>
      <!-- //.row -->
      
      <div class="row">
          <div class="col-12">
              <div class="gallery-filter">
                  <ul class="mb-5 p-0 text-center">
                      <li class="list-inline-item"><a href="#" data-filter="*" class="btn btn-base-color btn-small disabled mb-1 mr-1">All</a></li>
                      <li class="list-inline-item"><a href="#" data-filter=".culture" class="btn btn-base-color btn-small mb-1 mr-1">Culture</a></li>
                      <li class="list-inline-item"><a href="#" data-filter=".team" class="btn btn-base-color btn-small mb-1 mr-1">Team</a></li>
                      <li class="list-inline-item"><a href="#" data-filter=".work-space" class="btn btn-base-color btn-small mb-1 mr-0">Work Space</a></li>
                  </ul>
              </div>
              <!-- //.gallery-filter -->
              
              <div class="gallery-wrapper">
                  <div class="gallery-grid grid-col-3 gutter-medium" style="position: relative; height: 857.016px;">
                      <div class="item team" style="position: absolute; left: 0px; top: 0px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-1.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-1.jpg" title="Image Caption 1">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 1</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                      
                      <div class="item work-space" style="position: absolute; left: 377px; top: 0px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-2.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-2.jpg" title="Image Caption 2">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 2</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                      
                      <div class="item culture" style="position: absolute; left: 754px; top: 0px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-3.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-3.jpg" title="Image Caption 3">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 3</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                      
                      <div class="item team" style="position: absolute; left: 0px; top: 285px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-4.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-4.jpg" title="Image Caption 4">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 4</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                      
                      <div class="item work-space culture" style="position: absolute; left: 377px; top: 285px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-5.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-5.jpg" title="Image Caption 5">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 5</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                      
                      <div class="item culture" style="position: absolute; left: 754px; top: 285px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-6.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-6.jpg" title="Image Caption 6">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 6</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                      
                      <div class="item team work-space" style="position: absolute; left: 0px; top: 571px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-7.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-7.jpg" title="Image Caption 7">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 7</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                      
                      <div class="item culture" style="position: absolute; left: 377px; top: 571px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-8.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-8.jpg" title="Image Caption 8">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 8</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                      
                      <div class="item work-space" style="position: absolute; left: 754px; top: 571px;">
                          <figure>
                              <div class="gallery-img">
                                  <img src="../../../../assets/images/gallery-9.jpg" alt="">
                              </div>
                              <!-- //.gallery-img -->
                              
                              <figcaption>
                                  <a href="../../../../assets/images/gallery-9.jpg" title="Image Caption 9">
                                      <div class="d-table">
                                          <div class="d-table-cell align-middle">
                                              <span class="d-block font-alt letter-spacing-2 text-extra-large text-uppercase text-white">Image Caption 9</span>
                                          </div>
                                          <!-- //.d-table-cell -->
                                      </div>
                                      <!-- //.d-table -->
                                  </a>
                              </figcaption>
                          </figure>
                      </div>
                      <!-- //.item -->
                  </div>
                  <!-- //.gallery-grid -->
              </div>
              <!-- //.gallery-wrapper -->
          </div>
          <!-- //.col-12 -->
      </div>
      <!-- //.row -->
  </div>
  <!-- //.container -->
</section>
<!-- //Section - Gallery End -->



<app-footer></app-footer>