<app-header></app-header>

<!-- Section - Team Start -->
<section id="team" class="bg-white">
  <div class="container">
      <div class="row justify-content-center pb-5">
          <div class="col-lg-9 pb-lg-4 text-center">
              <h3 class="font-alt font-w-600 letter-spacing-2 text-uppercase title-xs-small title-extra-large-2">Meet The Team</h3>
              <p class="font-alt mb-0 mt-3 text-xs-large text-uppercase title-medium">We are here to help you with anything you need</p>
              <span class="bg-base-color d-inline-block mt-4 sep-line-thick-long"></span>
          </div>
          <!-- //.col-lg-9 -->
      </div>
      <!-- //.row -->
      
      <div class="row">
          <div class="col-md-6 col-lg-3">
              <figure class="team-block rounded">
                  <img src="../../../../assets/images/team-1.jpg" alt="" class="img-fluid ease rounded">
                  
                  <figcaption class="ease h-100 left-0 position-absolute rounded top-0 w-100">
                      <div class="d-table h-100 position-relative px-4 w-100">
                          <div class="d-table-cell align-middle text-center">
                              <span class="d-block font-alt letter-spacing-2 title-medium text-uppercase text-white">Kishore</span>
                              <span class="bg-base-color d-inline-block mt-2 sep-line-thick"></span>
                              <span class="d-block font-alt letter-spacing-2 mt-3 text-medium text-uppercase text-white">Role</span>
                          </div>
                          <!-- //.d-table-cell -->
                      </div>
                      <!-- //.d-table -->
                  </figcaption>
              </figure>
          </div>
          <!-- //.col-md-6 -->
          
          <div class="col-md-6 col-lg-3">
              <figure class="team-block rounded">
                  <img src="../../../../assets/images/team-2.jpg" alt="" class="img-fluid ease rounded">
                  
                  <figcaption class="ease h-100 left-0 position-absolute rounded top-0 w-100">
                      <div class="d-table h-100 position-relative px-4 w-100">
                          <div class="d-table-cell align-middle text-center">
                              <span class="d-block font-alt letter-spacing-2 title-medium text-uppercase text-white">Kishore</span>
                              <span class="bg-base-color d-inline-block mt-2 sep-line-thick"></span>
                              <span class="d-block font-alt letter-spacing-2 mt-3 text-medium text-uppercase text-white">Role</span>
                          </div>
                          <!-- //.d-table-cell -->
                      </div>
                      <!-- //.d-table -->
                  </figcaption>
              </figure>
          </div>
          <!-- //.col-md-6 -->
          
          <div class="col-md-6 col-lg-3">
              <figure class="team-block rounded">
                  <img src="../../../../assets/images/team-3.jpg" alt="" class="img-fluid ease rounded">
                  
                  <figcaption class="ease h-100 left-0 position-absolute rounded top-0 w-100">
                      <div class="d-table h-100 position-relative px-4 w-100">
                          <div class="d-table-cell align-middle text-center">
                              <span class="d-block font-alt letter-spacing-2 title-medium text-uppercase text-white">Kishore</span>
                              <span class="bg-base-color d-inline-block mt-2 sep-line-thick"></span>
                              <span class="d-block font-alt letter-spacing-2 mt-3 text-medium text-uppercase text-white">Role</span>
                          </div>
                          <!-- //.d-table-cell -->
                      </div>
                      <!-- //.d-table -->
                  </figcaption>
              </figure>
          </div>
          <!-- //.col-md-6 -->
          
          <div class="col-md-6 col-lg-3">
              <figure class="team-block rounded">
                  <img src="../../../../assets/images/team-4.jpg" alt="" class="img-fluid ease rounded">
                  
                  <figcaption class="ease h-100 left-0 position-absolute rounded top-0 w-100">
                      <div class="d-table h-100 position-relative px-4 w-100">
                          <div class="d-table-cell align-middle text-center">
                              <span class="d-block font-alt letter-spacing-2 title-medium text-uppercase text-white">Kishore</span>
                              <span class="bg-base-color d-inline-block mt-2 sep-line-thick"></span>
                              <span class="d-block font-alt letter-spacing-2 mt-3 text-medium text-uppercase text-white">Role</span>
                          </div>
                          <!-- //.d-table-cell -->
                      </div>
                      <!-- //.d-table -->
                  </figcaption>
              </figure>
          </div>
          <!-- //.col-md-6 -->
      </div>
      <!-- //.row -->
  </div>
  <!-- //.container -->
</section>
<!-- //Section - Team End -->


<app-footer></app-footer>