<app-header [home]="false"></app-header>

<!-- Section - Home Start -->
<section id="home" class="bg-cover bg-white bg-overlay-white-6 h-100 w-100">
    <div class="container h-100">
        <div class="row align-items-center h-100 justify-content-center">
            <div class="col-lg-8 pt-3 text-center">
                <span class="d-block font-alt font-w-600 letter-spacing-2 text-medium text-uppercase text-white">
                    Welcome To
                </span>
                
                <span class="bg-base-color d-inline-block mt-4 sep-line-medium-thick"></span>
                
                <h2 class="font-alt font-w-600 letter-spacing-2 mb-3 mt-3 text-uppercase text-white title-xs-extra-large title-extra-large-3">
                    Hello Almere
                </h2>
                
                <span class="d-block font-alt letter-spacing-2 mb-3 mt-4 text-large text-uppercase text-white">
                    put some content here.
                </span>
                
            </div>
            <!-- //.col-lg-8 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<!-- //Section - Home End -->
